*.jsx linguist-language=JavaScriptReact
*.tsx linguist-language=TypeScriptReact
vite.config.js linguist-language=JavaScript
assets/* linguist-vendored
styles/* linguist-vendored
data/* linguist-vendored