$body: #1B1A29;
$page: #14131B;
$white: #DCDAE7;
$red-txt: #F21212;
$main-txt: #FEFEFE;
$footer-txt: #727272;
$border: #4B4A65;
$main-btn: #7A4DF3;
$list: #BBB8CA;
$tooltip-bg: #333;

$code-bg:#242337;
$code-border: rgba(83, 58, 185, 0.50);
$code-txtColor: #E7E7E7;
$code-border-pink: #DC6794;
$code-gray: #9B9B9B;
$code-fragment: #DC6794;
$code-tag: #FF5B5B;
$code-red: #FF0000;
$code-class: #FFF500;
$code-color: #8C98FF;
$code-frame: #CD7BFF;

$shadow: 0px 1px 37px 0px rgba(151, 71, 255, 0.70);
$shadowC: 0px 1px 11px 0px rgba(122, 77, 243, 0.80);
$box: 0px -2px 28px 0px rgba(151, 71, 255, 0.30);
$box-s: 0px 0px 43px 0px rgba(151, 71, 255, 0.50);
$mobile-box: rgba(83, 58, 185, 0.10);

  /* code-gradient */
  $text-gradient: linear-gradient(263deg, #DC6794 6%, #9747FF 78%, #9747FF);
  $share-text-gradient: linear-gradient(75deg, #8247FF 11%, #E7E7E6 52.49%);
  $h2-gradient: linear-gradient(150deg, #FCFCFC 6%, #9747FF 78%, #9747FF);
  $p-gradient: linear-gradient(270deg, #AE72FF 77.92%, #F2F2F2 93.75%);
  $step1-gradient: linear-gradient(223deg, rgb(174 125 253 / 50%) 0%,  rgb(36 35 55 / 55%) 42.19%, rgb(36 35 55 / 93%) 58.33%, rgb(122 77 243 / 39%) 100%);
  $step2-gradient: linear-gradient(223deg, rgb(174 125 253 / 18%) 0%, rgb(16 15 27 / 74%) 42.19%, rgb(36 35 55 / 93%) 58.33%, rgb(122 77 243 / 40%) 100%);