.wrapper {
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.blur {
  background-size: cover;
  background-position: 100% 81%;
  background: url('@assets/img/shadow.svg') no-repeat;
}

.title {
  font-size: 2.8rem;
  max-width: 45rem;
  white-space: pre-wrap; 
  margin: 0 auto;
  font-weight: 700;
	padding: 0 20px;
  padding-top: 69px;
  text-align: center;
  padding-bottom: 64px;
  background: $h2-gradient;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.background {
  position: relative;
	display: flex;
	justify-content: center;
}

.dashedLine {
  text-align: center;
  position: relative;
	max-width: 860px;
  width: 100%;
	&::before {
		left: 50%;
		content: '';
		z-index: -1;
		width: 12px;
		height: 125px;
		bottom: -114px;
		position: absolute;
		background-size: contain;
		background: url('@assets/img/line1.svg') no-repeat;
	}
	& img {
		width: 860px;
	}
}

.code {
  font-family: monospace;
  font-size: 1.1rem;
  top: 5rem;
  width: 20rem;
  position: absolute;
  border-radius: 1rem;
  padding: 31px 24px;
  background: $code-bg;
  box-shadow: 0px 0px 15px 4px $main-btn;
  & .added {
    padding-bottom: 10px;
    color: $white;
  }
  & .highlighted {
    color: $code-frame;
  }
}

.runCommand {
  font-family: monospace;
  width: 260px;
  padding: 17px 0;
  font-size: 20px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  margin: 109px auto;
  margin-bottom: 120px;
  box-shadow: $box;
  color: $main-txt;
  background: $code-bg;
  border: 2.5px solid $code-fragment;
	&::before {
		z-index: -1;
		right: auto;
		content: '';
		width: 330px;
		left: -188px;
		height: 125px;
		bottom: -122px;
		position: absolute;
		background-size: contain;
		background: url("@assets/img/line2.svg") no-repeat;
	}
}

.ideContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 13rem;
  gap: 69px;
}