@media (max-width: 1440px) {
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 1170px) {

  .console {
    width: 100%;
  }

  .wrapper {
    width: 920px;
  }

  .terminal {
    width: 685px;
    margin: 0 auto;
  }

  .multi-repo__img img {
    width: 544px;
    height: 140px;
  }

  .repo__code {
    width: 218px;
    padding: 20px 15px;
    right: 335px;
    top: 33px;
  }

  .multi-repo__run {
    font-size: 13px;
    width: 196px;
  }
  
  .multi-repo__run {
    margin-bottom: 72px;
  }

  .multi-repo__img::before {
    width: 6px;
  }
  .multi-repo__run::before {
    width: 225px;
    left: -121px;
  }

  .stylelint__number-list,
  .stylelint__output {
    font-size: 11px;
  }

  .stylelint__output {
    width: 317px;
  }

  .multi-repo__run {
    margin: 59px auto;
  }

  .repo__added,
  .repo__named {
    font-size: 11px;
  }

  h1.title {
    font-size: 58px;
    width: 100%;
  }

  .stylelint__content {
    padding-top: 20px;
  }

  .stylelint__css {
    width: 317px;
  }

  .stylelint {
    padding-bottom: 181px;
  }

  .share__description {
    font-weight: 600;
  }

  .share__managers,
  .share__option  {
    font-size: 24px;
  }

  .share__managers {
    width: 320px;
  }

  .share__developers {
    width: 329px;
  }

  .share__list {
    font-size: 15px;
    line-height: 130.49%;
  }



  .share__errors {
    width: 332px;
    order: 2;
  }

  .share__blocks {
    gap: 29px;
    padding: 0;
    justify-content: space-between;
  }

  .scrinschot__img {
    width: 386px;
    height: 175px;
  }

  .share__comand code {
    font-size: 12px;
    padding: 9px 0;
    width: 181px;
    border-radius: 6px;
    margin-bottom: -15px;
  }

  .mobile-managers {
    padding: 16px;
    border: 2px solid $main-btn;
    border-radius: 5px;
    margin-bottom: 64px;
    background: $mobile-box;
  }

  .share__mobile-developers {
    padding: 16px;
    border: 2px solid $code-border-pink;
    border-radius: 5px;
    background: $mobile-box;
  }

  .empower {
    padding: 274px 0 251px;
  }

  .empower__today {
    padding-bottom: 23px;
  }

  .empower__list::before {
    width: 602px;
  }

  .quality {
    padding-bottom: 258px;
    background-size: cover;
    background: url("../icons/line-q.svg") center no-repeat;
    background-size: contain;
  }



  .container {
    border-radius: 0;
    width: 990px;
    margin: 0 auto;
    padding: 46px 0;
  }

  .social--discord {
    display: none;
  }

  .links-item:nth-child(2) {
    padding: 0px 30px;
  }
}

@media (max-width: 990px) {

  h1.title {
    width: 500px;
  }

  .terminal,
  .exlint__container,
  .console-wrapper {
    width: auto;
  }

  code input[type=text] {
    width: 385px;
  }

  .empower__list::before {
    width: 470px;
  }

}

@media (max-width: 720px) {

  .share {
    background: url('../img/bg-mobile.png') top no-repeat;
    background-size: contain;
  }

 .asked__panel {
  padding-top: 24px;
 }

 .quality,
 .asked {
  padding-bottom: 156px;
 }

 .empower,
 .qstart,
 .exlint__list,
 .share__description,
 .component-multi-repo {
  display: none;
 }

 .console-wrapper {
  margin-bottom: 64px;
 }

 .repo__code {
  right: 115px;
 }

 .terminal__text {
  font-size: 15px;
 }

 .terminal__text:last-child {
  padding-bottom: 118px;

  }

  .terminal__text {
    width: auto;
  }

  .component-multi__title {
    font-size: 28px;
  }

  .share__description {
    display: block;
  }

  .share__mobile-managers,
  .share__mobile-developers {
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width: 560px) {

  h1.title {
    font-size: 44px;
    width: 100%;
  }

  .console-wrapper {
    width: 344px;
    border: 2.5px solid $main-btn;
    box-shadow: $shadow;
  }

  .console__command-input {
    font-size: 14px;
    width: 344px;
  }

  code input[type=text] {
    width: 328px;
  }

  .console {
    width: 405px;
  }

  .terminal {
    width: 361px;
  }

  .footer-list,
  .links-list {
    flex-wrap: wrap;
  }

  .exlint__footer-list {
    margin-top: 32px;
  }

  .exlint {
    padding: 16px 0 0;
  }

  .component-multi__title {
    font-size: 28px;
  }

  .console__command-input {
    font-size: 14px;
  }

  .console__command-input::placeholder {
    font-size: 14px;
  }

  .terminal__text {
    font-size: 10px;
  }

  .terminal__text:last-child {
    padding-bottom: 90px;
  }

  .stylelint__css {
    width: 260px;
  }

  .empower,
  .exlint__list,
  .stylelint__css::before,
  .exlint__login,
  .qstart,
  .component-multi-repo,
  .share__description {
    display: none;
  }

  .title {
    font-size: 44px;
    width: 320px;
  }

  .scrinschot__img {
    width: 342px;
    height: auto;
  }



  .opensouce__wrapper,
  .stylelint__content {
    flex-wrap: wrap;
  }

  .component-multi__title {
    display: none;
  }

  .share__managers {
    order: 1;
  }

  .share__developers {
    order: 2;
  }
}

@media (max-width: 470px) {
  .wrapper, 
  .console {
    width: 320px;
  }

  .console__command-input {
    font-size: 11px;
  }

  .terminal {
    width: auto;
  }
}

@media (max-width: 359px) {

  .wrapper, 
  .console {
  width: 290px;
  }

  h1.title {
    font-size: 35px;
  }

  .console-wrapper,
  code input[type=text] {
    width: 245px;
  }

  .console-wrapper {
    padding: 17px;
  }

  .console__command-input {
    font-size: 10px;
  }

  .social__icon {
    right: 20px;
  }

  .scrinschot__img {
    width: 100%;
  }

  .title {
    width: 290px;
    font-size: 35px;
  }
  
  .exlint__links-list {
    flex-direction: column;
  }

  .exlint__links-item:nth-child(2) {
    padding: 10px 30px;
  }
}