.stars {
	position: relative;
	background: url('@assets/img/stars.png') no-repeat;
	background-position: bottom;
	background-size: cover;

	@include mobile {
		background-size: 200% auto;
	}
}

.wrapper {
	width: calc(100% - 2rem);
	@include desktop {
		@include tablet;
	}

	@include mobile {
		width: auto
	}

	@include mobile-small {
		width: calc(100% - 1.5rem);
	}
}

a {
	color: $white;
	text-decoration: none;
}

input {
	width: 420px;
	border: none;
	background: none;
	color: $white;

	@include tablet {
		width: 100%;
		max-width: 420px;
	}

	@include mobile {
		width: 100%;
		max-width: 100%;
	}

	&::placeholder {
		color: $white;
	}

	&:focus-visible,
	&:active {
		outline: none;
	}
}

.title {
	width: 100%;
	font-size: 4rem;
	font-weight: 700;
	margin: 64px auto;
	text-align: center;
	color: $white;

	@include tablet {
		font-size: 3rem;
	}

	& span {
		&:first-child {
			color: $white;
		}

		&:last-child {
			text-align: center;
			margin-bottom: 52px;
			background: $text-gradient;
			-webkit-text-fill-color: transparent;
			background-clip: text;

			@include mobile {
				margin-bottom: 32px;
			}
		}
	}
}

.qstart {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 30px;
	margin: 3rem 0;
}

.text {
	color: $white;
	font-size: 20px;
}

.start {
	width: 130px;
	padding: 9px 0;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	border-radius: 30px;
	color: $white;
	background: $main-btn;
	& .text {
		margin: 0;
		font-size: 20px;
		font-weight: 400;
		color: $white;
	}
}

.console {
	padding: 0 20px;
	padding-bottom: 86px;
	& .command {
		display: flex;
		justify-content: center;
		padding: 17px 30px;
		max-width: 640px;
		margin: 0 auto;
		align-items: center;
		border-radius: 10px;
		box-shadow: $shadow;
		justify-content: space-between;
		border: 2.5px solid $main-btn;
		& code {
			color: $white;
		}
	}
}

.terminal {
	width: calc(100% - 10rem);
	max-width: 800px;
	font-family: monospace;
	margin: 0 auto;
	padding: 20px;
	height: 513px;
	border-radius: 5px;
	background: $code-bg;
	border: 2.5px solid $main-btn;
	box-shadow: 0 -69px 131px -88px $main-btn;

	&__text {
		width: 100%;
		font-size: 20px;
		font-weight: 400;
		padding-top: 2rem;
		line-height: 2rem;
		color: $code-txtColor;
	}

	@include mobile {
		height: auto;
		width: calc(100% - 3rem);
	}
}

.highlighted {
	color: $red-txt;
}

.social {
	width: 24px;
	height: 24px;
	display: block;
	cursor: pointer;
	position: relative;
	background: url('@assets/icons/copy-btn.svg') center no-repeat;
}
